body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding-bottom: 60px; /* Espaço para o rodapé fixo */
  }
  
  .navbar-nav .nav-link {
    display: flex;
    align-items: center;
  }

  .navbar-nav .nav-link i {
    margin-right: 8px; /* Espaço entre o ícone e o texto */
  }

  footer {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    position: fixed;
    bottom: 0;
  }